/target/
target/IPASS_CookBook-1.0/META-INF/MANIFEST.MF
.idea/IPASS_CookBook.iml
.idea/modules.xml
IPASS_CookBook.iml
target/IPASS_CookBook-1.0/META-INF/MANIFEST.MF
target/classes/CookBook/model/Gerecht.class
/target/
