.gerechtBlok{
    max-width: 1140px;
    margin: 50px auto;
    width: 80%;
    background: #ffffff;
    border-radius: 15px;
    border: #a5a5a5 1px solid;
    padding: 20px;

    content: "";
    display: table;
    clear: both;
}

.gerechtHeader{
    text-align: center;
}
.gerechtNaam{
    display: inline-block;
    width: 80%;
    font-size: 27px;
}

.gerechtLinks{
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    width: calc(75% - 6%);
}

.gerechtRechts{
    float: left;
    width: calc(25% - 24px);
    background: #eaeaea ;
    padding: 10px;
    border-radius: 15px;
    border: #a5a5a5 1px solid;
}

.favoriet{
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

.favoriet > img{
    max-height: 50px;
}

@media print {
    .topnav{
        display: none;
    }
    .loginBanner{
        display: none;
    }
    .favoriet{
        display: none;
    }
    label{
        display: none;
    }

    #verversPorties{
        display: none;
    }
}

.BekerenSpan{
    font-weight: bolder;
}

#verversPorties{
    border-radius: 5px;
    padding: 3px;
    color: white;
    background: #24a0ed ;
}

